.home { width: 1em; height: 1em; position: absolute; top: 0; right: 0; z-index: 9999; /*display: none;*/ }
/*.reveal section { border: 1px dashed red; }*/
.reveal section * { vertical-align: top; }
.reveal mark { background-color: ff8; color: inherit; }
.reveal ul + ul,
.reveal dl + dl { margin-left: 5%; }
.reveal dd + dt { margin-top: 0.5em; }
.reveal dd { margin-left: 2em; }
.reveal dl { width: 90vw; }
.reveal section img { border: none; box-shadow: none; background: transparent; }
.reveal .options dt { font-family: monospace; }
.reveal pre { font-size: 0.7em; box-shadow: none; text-align: left; line-height: 1.5em; font-size: calc(65vh/29); /*border: thin solid red;*/ }
.reveal pre + pre { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; }
.reveal pre.left { font-size: 0.5em; display: inline-block; width: 25em; border-right: thin solid blue; }
.reveal pre.right { display: inline-block; width: 21em; margin-left: 1em; }
.reveal pre.right code { height: 21em; }

/*
.reveal pre span { background-color: white; padding: 0.15em; border: thin solid black; }
*/
.reveal pre code { padding: 0; }
.reveal pre kbd { font-style: normal; color: #44f; }
.reveal pre em { color: #aaf; }
.reveal pre kbd em { color: #aaf; }
.reveal pre kbd em:after { content: "> "; }
.reveal ul li { /*background-color: white; border: thin solid black; */ padding: 0.1em 0.5em ; margin: 0.2em 0; }
.hljs { background: transparent; color: #000; }
.hljs strong { color: black; }
.hljs-keyword,
.hljs-attribute,
.hljs-literal,
.hljs-number,
.hljs-string,
.hljs-variable,
.hljs-selector-tag,
.hljs-selector-class,
.hljs-meta,
.hljs-name,
.hljs-quote,
.hljs-symbol,
.hljs-stata,
.hljs-tag,
.hljs-title,
.hljs-built_in { color: #000; }
kbd .hljs-keyword,
kbd .hljs-attribute,
kbd .hljs-literal,
kbd .hljs-number,
kbd .hljs-string,
kbd .hljs-variable,
kbd .hljs-selector-tag,
kbd .hljs-selector-class,
kbd .hljs-meta,
kbd .hljs-name,
kbd .hljs-quote,
kbd .hljs-symbol,
kbd .hljs-stata,
kbd .hljs-tag,
kbd .hljs-title,
kbd .hljs-built_in { color: #44f; }
.reveal section .hljs-comment { color: inherit; }

